@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>El Zoológico de Quito - Guayllabamba Zoo</title>
    <style>
        /* Estilos CSS para el contenido */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>El Zoológico de Quito - Guayllabamba Zoo</h1>

    <p>El Zoológico de Quito, también conocido como Guayllabamba Zoo, es un jardín zoológico ubicado en la parroquia de Guayllabamba que sirve a la ciudad de Quito, la capital de Ecuador.</p>

    <img src="/Imagenes/MapaZoo.png" alt="Mapa del Zoológico de Quito" width="600" />

    <p>Este espacio de acercamiento a la naturaleza es una oportunidad para conocer y observar animales de todas las regiones del país. Inaugurado el 18 de agosto de 1997 por el entonces Alcalde Metropolitano, Jamil Mahuad, el zoológico ocupa una superficie de aproximadamente 12 hectáreas (0,12 km²).</p>

    <p>El Zoológico de Quito es administrado por la Fundación Zoológica del Ecuador, una ONG sin fines de lucro y miembro de la Asociación Latinoamericana de Jardines Zoológicos y Acuarios. Su principal enfoque es la conservación de la fauna silvestre ecuatoriana y es reconocido por ser pionero en programas de conservación.</p>

    <p>En el zoológico se pueden encontrar una amplia variedad de animales, la mayoría de ellos oriundos del Ecuador. Además, también alberga especies provenientes de otros países y continentes, lo que lo convierte en un lugar único para aprender sobre la biodiversidad y la vida animal de diferentes partes del mundo.</p>

</body>
</html>
