@{
    ViewData["Title"] = "Politicas del Aplicativo";
}
<h1>@ViewData["Title"]</h1>

<h2>Política de Privacidad</h2>
<p>Estas políticas son fundamentales para establecer una relación transparente y confiable entre el zoológico y los usuarios del aplicativo web.</p>
<ul>
    <li>Datos recopilados.</li>
    <li>Propósito del uso.</li>
    <li>Almacenamiento.</li>
    <li>Medidas de seguridad.</li>
</ul>

